<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap3/css/bootstrap.css">
    <link rel="stylesheet" href="/static/my_css.css">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    {#    <link rel="SHORTCUT ICON" HREF="{% static "favicon.ico" %}">#}
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>首页</title>
</head>
<body>
<ul class="layui-nav">
    <li class="layui-nav-item"><a href="">首页</a></li>
    <li class="layui-nav-item navbar-right">
        {% if user_obj.username %}
            <li class="layui-nav-item"><a href="/classes_list/">班级管理</a></li>
            <li class="layui-nav-item"><a href="/student_list/">学生管理</a></li>
            <li class="layui-nav-item"><a href="/teacher_list/">教师管理</a></li>
            <li class="layui-nav-item navbar-right">
                <a href="">个人中心<span class="layui-badge-dot"></span></a>
            </li>
            <li class="layui-nav-item navbar-right" lay-unselect="">
                <a href="javascript:;"><img src="//t.cn/RCzsdCq" class="layui-nav-img">{{ user_obj.username }}</a>
                <dl class="layui-nav-child">
                    <dd><a href="/reset_password/">修改信息</a></dd>
                    <dd><a href="/logout/">退出登录</a></dd>
                </dl>
            </li>

        {% else %}
            <li class="layui-nav-item navbar-right"><a href="/login/">登录</a></li>
            <li class="layui-nav-item navbar-right"><a href="/register/">注册</a></li>

        {% endif %}
    <form class=" navbar-form  navbar-right" method="post" action="/search/" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" name="search" id="search_input" class="form-control" placeholder="请输入搜索内容">
        </div>
        <button type="submit" class="btn btn-default" id="search_btn">搜索</button>
    </form>
</ul>


<!--主页面开始-->
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div class="panel panel-primary">
                <div class="panel-heading">左侧广告位一</div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">左侧广告位二</div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>
        <div id="search_result"></div>
        <div class="col-md-8">
            <!--文章开始-->
            {% if search_list %}
                {#            <p>共找到 {{ search_list | length }} 条记录。</p>#}
                <p>正在实时查询的结果....共{{ search_out }}条记录</p>
                <div class="article_list">
                    {% for search in search_list %}
                        <div class="article">
                            <p class="search_article_title"
                               style="font-size: 20px; padding: 8px 0; color: #2b669a;">{{ search.title }}</p>
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object usr_img" src="/media/{{ search.user.avatar }}"
                                             alt="...">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <p>{{ search.desc }}</p>
                                </div>
                            </div>
                            <div class="article-footer">
                                <span><a href="/blog/{{ search.user.username }}/">{{ search.user.username }}</a></span>发布于
                                <span>{{ search.create_time|date:'Y-m-d H:i:s' }}</span>
                                <span class="glyphicon glyphicon-comment"><a
                                        href="#">评论({{ search.comment_count }})</a></span>
                                <span class="glyphicon glyphicon-thumbs-up">点赞</span>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            {% else %}
                <div class="article_list">
                    {% for article in article_list %}
                        <div class="article">
                            <p class="article_title"
                               style="font-size: 20px; padding: 8px 0; color: #d4a5ff;">{{ article.title }}</p>
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object usr_img" src="/media/{{ article.user.avatar }}"
                                             alt="...">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <p>{{ article.desc }}</p>
                                </div>
                            </div>
                            <div class="article-footer">
                                <span><a
                                        href="/blog/{{ article.user.username }}/">{{ article.user.username }}</a></span>发布于
                                <span>{{ article.create_time|date:'Y-m-d H:i:s' }}</span>
                                <span class="glyphicon glyphicon-comment"><a
                                        href="#">评论({{ article.comment_count }})</a></span>
                                <span class="glyphicon glyphicon-thumbs-up">点赞</span>
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="container">
                <ul class="pagination">
                    {# 如果当前页有上一页 #}
                    {% if article_list.has_previous %}
                        {# 当前页的上一页按钮正常使用 #}
                        <li class="page-item"><a class="page-link" href="?page={{ article_list.previous_page_number }}">首页
                        </a></li>
                    {% else %}
                        {# 如果当前页没有上一页，上一页按钮不可点击 #}
                        <li class="page-item disable"><a class="page-link" href="#">首页</a></li>
                    {% endif %}
                    {# 循环页码 #}
                    {% for page_num in article_list.paginator.page_range %}
                        {# 如果页码是用户点击的当前页 #}
                        {% if article_list.number == page_num %}
                            {# 当前页码点亮展示 #}
                            <li class="page-item active"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}
                            </a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}
                            </a></li>
                        {% endif %}
                    {% endfor %}
                    {# 如果有下一页 #}
                    {% if article_list.has_next %}
                        {# 展示下一页按钮且可以点击 #}
                        <li class="page-item"><a class="page-link" href="?page={{ article_list.next_page_number }}">下一页
                        </a></li>
                        {# 如果没有下一页，下一页按钮无法点击 #}
                    {% else %}
                        <li class="page-item disable"><a class="page-link" href="#">下一页
                        </a></li>
                    {% endif %}

                </ul>
            </div>
            <!--文章结束-->
        </div>
        <div class="col-md-2">
            <div class="panel panel-primary">
                <div class="panel-heading">右侧广告位一</div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">右侧广告位二</div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>
    </div>
</div>


<!--主页面结束-->

<script src="/static/jquery-3.3.1/jquery-3.3.1.js"></script>
<script src="/static/bootstrap3/js/bootstrap.min.js"></script>
<script src="/static/layui/layui.js"></script>
<script>
    layui.use(['element', 'form'], function () {
        var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
        var form = layui.form;

        //监听导航点击
        element.on('nav(demo)', function (elem) {
            //console.log(elem)
            layer.msg(elem.text());
        });
    });
</script>

{#<script>#}
{#    $("#search_btn").on("click",function () {#}
{#        var search_info = $("#search_input").val();#}
{#        var csrf_token = $("[name='csrfmiddlewaretoken']").val();#}
{#        $.ajax({#}
{#            url:"/ajax_search/",#}
{#            type:"post",#}
{#            data:{"search":search_info,"csrfmiddlewaretoken": csrf_token},#}
{#            success:function (data) {#}
{#                console.log(data);#}
{#                $("#search_result").html("<p>正在实时查询的结果....共" + data.count + "条记录</p>")#}
{#            }#}
{#        })#}
{##}
{#    });#}
{##}
{#    $("#search_input").focus(function () {#}
{#        $(this).text("");#}
{#    })#}
{#</script>#}
</body>
</html>