<!DOCTYPE html>
<html lang="en">
<head>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    {% load staticfiles %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>重置密码</title>
</head>
<body>
<div class="container" style="margin-top: 200px">
    <div class="col-md-5 m-auto">
        <h2><p class="text-center">重置密码</p></h2>
        <form class="form-horizontal reg-form" method="post" action="" enctype="multipart/form-data" novalidate
              autocomplete="off">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ r_Form.user_name.id_for_label }}">{{ r_Form.user_name.label }}</label>
                {{ r_Form.user_name }}
                <span class="help-block">{{ r_Form.user_name.errors.0 }}</span>
            </div>
            <div class="form-group ">
                <label for="{{ r_Form.old_password.id_for_label }}">{{ r_Form.old_password.label }}</label>
                {{ r_Form.old_password }}
                <span class="help-block">{{ r_Form.old_password.errors.0 }}</span>
            </div>
            <div class="form-group">
                <label for="{{ r_Form.new_password.id_for_label }}">{{ r_Form.new_password.label }}</label>
                {{ r_Form.new_password }}
                <span class="help-block">{{ r_Form.new_password.errors.0 }}</span>
            </div>
            <button type="button" class="btn btn-success btn-lg btn-block" id="reset-btn">重置</button>
        </form
    </div>
</div>
<script src="/static/jquery-3.3.1/jquery-3.3.1.js"></script>
<script src="/static/bootstrap3/js/bootstrap.min.js"></script>
<script>
    $("#reset-btn").click(function () {
        var user_name = $("#id_user_name").val();
        var old_password = $("#id_old_password").val();
        var new_password = $("#id_new_password").val();
        var csrf_token = $("[name='csrfmiddlewaretoken']").val();
        $.ajax({
            url:"/reset_password/",
            type:"post",
            data:{
                "user_name":user_name,
                 "old_password":old_password,
                "new_password":new_password,
                "csrfmiddlewaretoken": csrf_token
            },
            success:function (data) {
                console.log(data);
                if(data.success_info){
                    window.location.href = "/login/";
                }else {
                    $.each(data.error_info,function (k,v) {
                        $("#id_" + k).next().text(v[0]).css({
                            "color": "red",
                            "font-size": "12px"
                        });
                    })
                }
            }
        })
    });

    $("form input").focus(function () {
        $(this).next().text("");
    });

    $("#id_user_name").blur(function () {
        var user_name = $(this).val();
        $.ajax({
            url:"/check_reset_username/",
            type: "get",
            data: {"user_name":user_name},
            success:function (data) {
                if(data.info){
                    $("#id_user_name").next("span").text(data.info).css({
                        "color": "red",
                        "font-size": "12px"
                    });
                }
            }
        })
    });

    $("#id_old_password").blur(function () {
        var old_password = $(this).val();
        $.ajax({
            url:"/check_old_password/",
            type:"get",
            data:{"old_password":old_password},
            success:function (data) {
                if (data.set_info){
                    $("#id_old_password").next("span").text(data.set_info).css({
                        "color": "red",
                        "font-size": "12px"
                    });
                }
            }
        })
    })
</script>
</body>
</html>